[submodule "Nork/Source/ThirdParty/include/entt"]
	path = Nork/Source/ThirdParty/include/entt
	url = https://github.com/sultgalu/entt
	branch = master
[submodule "Nork/Source/ThirdParty/include/imgui"]
	path = Nork/Source/ThirdParty/include/imgui
	url = https://github.com/sultgalu/imgui
	branch = docking
[submodule "Nork/Source/ThirdParty/include/glm"]
	path = Nork/Source/ThirdParty/include/glm
	url = https://github.com/sultgalu/glm
	branch = master
